@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--base-100); /* Ensure body background uses DaisyUI base color */
  color: var(--base-content); /* Ensure body text color uses DaisyUI base content color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
